<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 30%!important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal3-title">Thêm mới nhóm hợp đồng</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="row">
                        <div class="col-md-12 modalcus">
                            <input type="text" class="form-control hidden" disabled required id="idnhomhd">
                        </div>
                        <div class="col-md-4 modalcus">
                            <label for="stt">Tên nhóm</label>
                        </div>
                        <div class="col-md-8 modalcus">
                            <input type="text" class="form-control" required id="tennhomhd">
                        </div>
                        <div class="col-md-4 modalcus">
                            <label for="stt">Trạng thái</label>
                        </div>
                        <div class="col-md-8 modalcus">
                            <label class="radio-inline"><input type="radio" name="status" value="2">Ẩn</label>
                            <label class="radio-inline"><input type="radio" name="status" value="1" checked>Hiện</label>
                        </div>
                    </div>                    
                </form>
            </div>
            <div class="clearfix">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn-savenhomhd">Lưu</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
