<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<div class="content" style="height: 225px; width: 100%; background-color: #333333; margin-top: 150px">
    <div class="col-md-3">
        <a href="/Personal/Index">
            <img src="~/Images/Image/1.png" />
        </a>
        <span>
            Hồ sơ nhân sự
        </span>
    </div>
    <div class="col-md-3">
        <a href="/Customer/Index">
            <img src="~/Images/Image/2.png" />
        </a>
        <span>
            Khách hàng
        </span>
    </div>
    <div class="col-md-3">
        <a href="/Contract/Index">
            <img src="~/Images/Image/3.png" />
        </a>
        <span>
            Hợp đồng
        </span>
    </div>
    <div class="col-md-3">
        <a href="/Document/Index">
            <img src="~/Images/Image/4.png" />
        </a>
        <span>
            Hồ sơ / Văn bản
        </span>
    </div>
</div>

