<script src="~/Scripts/Plugin/mustache.min.js"></script>
<script src="~/Scripts/Plugin/jquery.twbsPagination.min.js"></script>
<script src="~/Scripts/Controllers/doccomeController.js"></script>
<script src="~/Scripts/Controllers/providerController.js"></script>
<script src="~/Scripts/Controllers/doctypeController.js"></script>
<script src="~/Scripts/Controllers/attachdoccomeController.js"></script>
<script src="~/Scripts/Controllers/filedoccomeController.js"></script>

<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="customer">
                <div>
                    <h2>
                        Danh sách văn bản đến
                    </h2>
                </div>
                <div style="padding-top: 20px;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <select style="float: left" class="form-control" id="show">
                                <option value="999999">Hiển thị</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group stylish-input-group">
                            <input type="text" id="txtsearchdoccome" class="form-control" placeholder="Tìm kiếm...">
                            <span class="input-group-addon" style="padding: 0px 12px!important">
                                <button type="button" id="btn-searchdoccome">
                                    <span class="glyphicon glyphicon-search" style="color: #000000!important;"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control" id="cq1"></select>
                        </div>
                    </div>
                    <table id="tbl_doccome" class="table table-bordered table-hover table-responsive" style="height: calc(100vh - 450px)!important;">
                        <thead>
                            <tr>
                                <th style="text-align: center; vertical-align: middle;">STT</th>
                                <th style="text-align: center; vertical-align: middle;">Trích yếu</th>
                                <th style="text-align: center; vertical-align: middle;">Số ký hiệu</th>
                                <th style="text-align: center; vertical-align: middle;">Ngày đến</th>
                                <th style="text-align: center; vertical-align: middle;">Cơ quan ban hành</th>
                                <th style="text-align: center; vertical-align: middle;">
                                    <img src="~/Images/Logo/support.png" />
                                </th>
                                <th style="text-align: center; vertical-align: middle;">
                                    <label class="checkbox-inline"><input type="checkbox" id="check-all" value=""></label>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tblbody_doccome"></tbody>
                    </table>
                    <div class="pagination" id="pagination">
                    </div>
                    <div class="crud">
                        <div class="col-md-12 col-md-push-3" style="margin-top: 8px;">
                            <button id="btn-adddoccome" data-toggle="modal" data-target="#myModal6" class="btn btn-success" type="button">
                                Thêm mới
                            </button>
                            <button id="deletedoccome" class="btn btn btn-danger" type="button" style="margin-left: 10px;">
                                Xóa
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Action("ModalDocCome", "DocCome")
@Html.Action("ModalProvider", "Provider")
@Html.Action("ModalDocType", "DocType")

<script id="data-cq1" type="x-tmpl-mustache">
    <option value="{{Provider_ID}}">{{Provider_Name}}</option>
</script>
<script id="data-vbd" type="x-tmpl-mustache">
    <tr>
        <td style="text-align: center; vertical-align: middle;">{{NumberialOrder}}</td>
        <td style="text-align: center; vertical-align: middle;">
            <a data-id="{{DocIn_ID}}" class="edit-doccome" data-toggle="modal" data-target="#myModal6" href="#" id="edit1" style="color: #000000!important;">
                {{DocName}}
            </a>
        </td>
        <td style="text-align: center; vertical-align: middle;">{{DocCode}}</td>
        <td style="text-align: center; vertical-align: middle;">{{DocGetDate}}</td>
        <td style="text-align: center; vertical-align: middle;">{{Provider_ID}}</td>
        <td style="text-align: center; vertical-align: middle;">
            <a href="#" class="edit-doccome" data-id="{{DocIn_ID}}" data-toggle="modal" data-target="#myModal6" style="text-decoration: none;">
                <img src="/Images/Image/edit.png" />
            </a>
        </td>
        <td style="text-align: center; vertical-align: middle;">
            <label class="checkbox-inline"><input name="check" class="check" type="checkbox" value="{{DocIn_ID}}"></label>
        </td>
    </tr>
</script>