<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<div class="content" style="height: 225px; width: 100%; background-color: #333333; margin-top: 150px">
    <div class="col-md-4">
        <a href="/DocCome/Index">
            <img src="~/Images/Image/den1.png" />
        </a>
        <span>
            Văn bản đến
        </span>
    </div>
    <div class="col-md-4">
        <a href="/DocGo/Index">
            <img src="~/Images/Image/di1.png" />
        </a>
        <span>
            Văn bản đi
        </span>
    </div>
    <div class="col-md-4">
        <a href="/Contract/Index">
            <img src="~/Images/Image/hs1.png" />
        </a>
        <span>
            Hồ sơ / Văn bản
        </span>
    </div>
</div>
